@page "/GameOfLifeBoard"
@using GameOfLife.Frontend.GameLogic

@inject GameEngine GameEngine
@using GameOfLife.Frontend.Components

<h3>GameOfLifeBoard</h3>
<button @onclick="GetNextGeneration">Render Next Generation</button>
<table>
    @for (int i = 1; i <= 5; i++)
    {
        <tr>
            @for (int j = 1; j <= 5; j++)
            {
                @if (IsCellAlive(i, j))
                {
                    <LiveCell Id="@($"{i}_{j}")"/>
                }
                else
                {
                    <DeadCell/>
                }
            }
        </tr>
    }
</table>

@code {

    private List<Cell> _lifeCells = new();

    protected override void OnInitialized()
    {
        _lifeCells = GameEngine.GetFirstGeneration();
    }

    private void GetNextGeneration()
    {
        _lifeCells = GameEngine.NextGeneration(_lifeCells);
    }

    private bool IsCellAlive(int x, int y)
    {
        return _lifeCells.Contains(new Cell(x,y));
    }
}